:root {
  --branding-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}
.hero {
  text-align: center;
  background-color: var(--branding-color);
  padding: 126px 0px;
}

h1 {
  font-family: var(--heading-font-family);
  font-weight: 700;
  font-size: 96px;
}

h2 {
  font-family: var(--default-font-family);
  font-size: 36px;
  font-weight: 700;
  color: #272142;
}

p {
  font-family: var(--default-font-family);
  font-weight: 400;
  font-size: 24px;
  color: #272142;
}

.my-button {
  background-color: var(--branding-color);
  color: white;
  border-radius: 4px;
  padding: 18px 30px;
  border: none;
  font-weight: 500;
  font-size: 18px;
  margin-top: 20px;
}
